---
heading: Datepicker component
bg: bg-yellow
---

<section>
    <div class="container ovr-container">
        <div class="tk-funnel-container tk-funnel-container--1col pa-2r mb-20">
            <div class="tk-heading mb-3">
                <h1 class="tk-heading__title">{{ page.heading }}</h1>
            </div>
            <div class="tk-datepicker__btn tk-datepicker__btn--z3 js-dp-btn js-dp-bs-btn">
                Bottom Sheet (MVP)
                <span class="tk-datepicker__icon">
                    {% include /icons/calendar--small.svg %}
                </span>
                <div class="tk-datepicker-lg">{% include datepicker.html %}</div>
            </div>
            <div class="tk-datepicker__btn js-dp-btn js-dp-scr-btn">
                Scroll
                <span class="tk-datepicker__icon">
                    {% include /icons/calendar--small.svg %}
                </span>
                <div class="tk-datepicker-lg">{% include datepicker.html %}</div>
            </div>
        </div>
    </div>
    <div class="pv-20"></div>
</section>



<!-- date picker bottom sheet with swiper -->

<!-- <div class="tk-overlay js-dp-bs">
    <div class="tk-overlay__bg"></div>
    <div class="tk-datepicker-bs tk-datepicker-bs--swiper">
        <div class="tk-datepicker-bs__swiper">
            <div class="tk-datepicker-bs__swiper-icon"></div>
        </div>
        {% include datepicker.html %}
    </div>
</div> -->




<!-- date picker bottom sheet with label -->

<!-- <div class="tk-overlay js-dp-bs">
    <div class="tk-overlay__bg"></div>
    <div class="tk-datepicker-bs tk-datepicker-bs--label">
        <div class="tk-datepicker-bs__close svg-link js-dp-bs-close">
            {% include /icons/close-m--small.svg %}
        </div>
        <div class="tk-datepicker-bs__label">Ingangsdatum</div>
        {% include datepicker.html %}
    </div>
</div> -->


<!-- date picker bottom sheet with close in background -->
<div class="tk-overlay js-dp-bs">
    <div class="tk-overlay__bg"></div>
    <div class="tk-datepicker-bs">
        <div class="tk-datepicker-bs__close
                js-dp-bs-close svg-white
                a a-fi a-dur-300 a-del-200">
                    {% include /icons/close-m--small.svg %}
                </div>
        {% include datepicker.html %}
    </div>
</div>