---
heading: Datepicker component
bg: bg-yellow
---

<section>
    <div class="container ovr-container">
        <div class="tk-funnel-container tk-funnel-container--1col pa-2r mb-20">
            <div class="tk-heading mb-3">
                <h1 class="tk-heading__title">{{ page.heading }}</h1>
            </div>
            <div class="dp-btn dp-btn--z3 dp-bs-btn">
                Bottom Sheet (MVP)
                <span class="dp-btn__icon" include="/assets/img/icons/calendar--small.svg"></span>
                <div class="tk-datepicker-lg">{% include datepicker.html %}</div>
            </div>
            <div class="dp-btn dp-scr-btn">
                Scroll
                <span class="dp-btn__icon" include="/assets/img/icons/calendar--small.svg"></span>
                <div class="tk-datepicker-lg">{% include datepicker.html %}</div>
            </div>
        </div>
    </div>
    <div class="pv-20"></div>
</section>

<!-- date picker bottom sheet -->
<div class="tk-overlay dp-bs">
    <div class="tk-overlay__bg"></div>
    <div class="tk-datepicker-bs">
        <div class="tk-datepicker-bs__swiper">
            <div class="tk-datepicker-bs__swiper-icon"></div>
        </div>
        {% include datepicker.html %}
    </div>
</div>