---
cta: Verder naar bestellen
dest: 1
---

<div class="gd-r-yellow pv-2 pv-4-sm">
    <div class="container ovr-container">
        <div class="grid">
            <div class="grid__unit s-4-4 l-7-12 xl-8-12">
                <h1 class="headingXXL fw-b mb-2 db">Uitbreiden maar</h1>
                <p class="headingM mb-0">
                    OV-fiets en Stallen op Rekening zijn best handig. En als je het niet gebruikt kost
                    het je ook niets.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container ovr-container">
    <div class="grid">
        <div class="grid__unit s-4-4 l-7-12 xl-8-12">
            <form>
                {% for checkbox in site.data.app.checkbox %}
                <div class="checkbox formfield__checkbox mb-2">
                    <input required type="checkbox" class="checkbox__input" id="checkbox{{ forloop.index }}" name="checkbox{{ forloop.index }}">
                    <label class="checkbox__label" for="checkbox{{ forloop.index }}">
                        <div class="fw-b f-blue">
                            {{ checkbox.title }}
                        </div>
                        <div class="f14 lh-copy">
                            {{ checkbox.description }}<br>
                            {{ checkbox.price }}
                            {{ checkbox.per }}
                        </div>
                    </label>
                </div>
                {% endfor %}
            </form>
        </div>
        <div class="grid__unit s-4-4 l-5-12 xl-4-12 mb-2">
            {% include order-details.html class="chk-order bg-white bs-s pa-4" %}
        </div>
        <div class="grid__unit s-4-4 mb-4">
             {% include cta.html %}
        </div>
    </div>
</div>