---
heading: Dit is je bestelling
cta: Verder naar bestellen
layout: default
dest: bestellen-one
---

<div class="tk-loader js-loader">
    {% include /icons/loader-res--small.svg %}
</div>

<div class="js-loaded is-hidden">
    <section class="a a-fi-right-small">
        <div class="container ovr-container">
            <div class="tk-funnel-container pa-2r">
                <div class="tk-heading tk-heading--funnel">
                    <h1 class="tk-heading__title">{{ page.heading }}</h1>
                </div>
                {% include order.html %}
                {% include add-on.html %}
                {% include receipt.html %}
                
                <!-- call to action button -->
                <div class="bo-t mb-2 mt-6"></div>
                <div class="g g-1-m-sm gap-3 items-center" id="js-sticky-trig">
                    {% include safe-pay.html %}
                    {% include cta.html %}
                </div>
            </div>
        </div>
    </section>

    <section class="bg-grey-8 bo-t a a-fi a-del-250">
        <div class="container ovr-container mv-0">
            <div class="pa-2r">
                {% include comfort.html %}
            </div>
        </div>
    </section>

    <div class="visible-xs">
        <div class="tk-sticky-bar js-sticky-bar">
            {% include cta.html %}
        </div>
    </div>
</div>