<div id="currentCardSelect">
    <label class="f-blue">Voer OV-chipkaartnummer in</label>
    <div class="tk-ff tk-ff--ov js-formFieldCard">
        <div class="tk-ff__ov-lines">
            <div></div>
            <span class="tk-ff__ov-line"></span>
            <span class="tk-ff__ov-line"></span>
            <span class="tk-ff__ov-line"></span>
            <div></div>
        </div>
        <input autocomplete="off" class="textInput tk-ff__input" type="text" id="cardNumber" value="3528    ">
        <span class="tk-ff__icon tk-ff__icon--loading tk-ff__icon--card">
            {% include /icons/loader--small.svg %}
        </span>
        <span class="tk-ff__icon tk-ff__icon--approved tk-ff__icon--card">
            {% include /icons/check-fat--small.svg %}
        </span>
        <div class="tk-suggest js-suggest is-hidden">
            <div class="tk-suggest__item js-suggest-item is-active">
                {% include icons/card--small.svg %}
                3528 1141 5467 2449
            </div>
            <div class="tk-suggest__item js-suggest-item">
                {% include icons/card--small.svg %}
                3528 1181 4594 8445
            </div>
            <div class="tk-suggest__item js-suggest-item">
                {% include icons/card--small.svg %}
                3528 1181 9113 3478
            </div>
            <div class="bo-b"></div>
            <legend class="tk-suggest__label">Mis je een kaart? Vul deze handmatig in.</legend>
        </div>
    </div>
</div>