<form>
    <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
            Ik ga akkoord met:
        </label>
        <ul class="tk-ul-small">
            <li class="tk-li-small"><a class="tk-link">Algemene voorwaarden</a></li>
            <li class="tk-li-small"><a class="tk-link">Productvoorwaarden</a></li>
            <li class="tk-li-small"><a class="tk-link">Privacy statement</a></li>
        </ul>
    </div>
    <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
           <div class="f-blue">Gratis NS Extra</div>
           <div>
               Ontvang persoonlijke service en diensten, 
               NS verwerkt hiervoor uw reisgegevens.
           </div>
        </label>
        <a class="arrowLink ml-4">Lees meer</a>
    </div>
    <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
            Op de hoogte blijven van aanbiedingen en / of serviceberichten
        </label>
    </div>
</form>