<form>
    <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
            Ik ga akkoord met:
        </label>
        <ul class="pl-4 pt-1 mb-0 f12 lh-copy">
            <li><a class="tk-link">Algemene vervoersvoorwaarden</a> (AVR-NS)</li>
            <li>Productvoorwaarden <a class="tk-link">Dal Voordeel</a></li>
            <li>
                U geeft toestemming aan (A) NS Groep N.V. inzake NS Reizigers B.V. (Laan van Puntenburg 100, 3511 ER, Utrecht, Nederland, SEPA identificatiecode: NL03 ZZZ 30124358) opdrachten te sturen aan uw bank om uw rekening te debiteren en aan (B) uw bank uw rekening te debiteren conform de opdrachten van NS Groep N.V. U heeft onder meer het recht op terugboeking door uw bank conform de met uw bank overeengekomen voorwaarden. Een verzoek tot terugboeking moet ingediend worden binnen 8 weken vanaf de datum waarop uw rekening werd gedebiteerd. Uw rechten met betrekking tot de hierboven genoemde machtiging worden uiteengezet in een toelichting die u via uw bank kunt verkrijgen.
            </li>
            <li>En ik heb het <a class="tk-link">privacy statement</a> gelezen en begrijp dat NS mijn gegevens verstrekt aan samenwerkende partijen als Translink en Focum.</li>
        </ul>
    </div>
    <h3 class="mb-2 f16 fw-b">Blijf op de hoogte per e-mail van</h3>
    <!-- <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
            NS Extra: gratis exclusieve aanbiedingen, vergeten uit te checken alert, tijdelijk een gratis upgrade naar 1e klas. 700.000 reizigers waren je voor.
        </label>
    </div> -->
    <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
            Serviceberichten
        </label>
    </div>
    <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
            Aanbiedingen
        </label>
    </div>
    <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
            Verbeteren producten en diensten
        </label>
    </div>
</form>