<form>
    <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
            Ik wil graag aanbiedingen van NS ontvangen via e-mail.
        </label>
    </div>
    <div class="checkbox formfield__checkbox tk-ff__checkbox">
        <input required type="checkbox" class="checkbox__input">
        <label class="checkbox__label" tabindex="-1">
            Ik ga akkoord met de algemene voorwaarden, privacybeleid en automatische incasso.
        </label>
    </div>
</form>