<div class="tk-ff tk-ff--grid js-ff-default">
    <div class="tk-ff__label">
        {{ include.title | capitalize }}
    </div>

    <div>
        <div class="tk-ff__input-container {{ include.width }} {% unless include.1row %}mb-1{% endunless %}">
            <ul class="list formfield__inputGroup {% if include.1row %}g g-m-m col-gap-4{% endif %}">
                <li class="list__item {% unless include.1row %}formfield__inputGroupItem{% endunless %}">
                    <div class="radioButton">
                        <input type="radio" class="radioButton__input tk-ff__input"
                            id="{{ include.option1 | remove: '.' }}" name="{{ include.title }}"
                            {{ include.required }}>
                        <label class="radioButton__label" for="{{ include.option1 | remove: '.' }}"
                            tabindex="-1">{{ include.option1 | capitalize }}</label>
                    </div>
                </li>
                <li class="list__item {% unless include.1row %}formfield__inputGroupItem{% endunless %}">
                    <div class="radioButton">
                        <input type="radio" class="radioButton__input tk-ff__input"
                            id="{{ include.option2 | remove: '.' }}" name="{{ include.title }}">
                        <label class="radioButton__label" for="{{ include.option2 | remove: '.' }}"
                            tabindex="-1">{{ include.option2 | capitalize }}</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="tk-ff__error">
            {{ include.error }}
        </div>

        <div class="tk-ff__message">
            {{ include.message }}
        </div>

        {% if include.description %}
        <p class="tk-ff__description">
            {{ include.description }}
        </p>
        {% endif %}
    </div>
</div>