<div class="tk-ff tk-ff--grid js-ff-toggle">
    <div class="tk-ff__label">
        {{ include.title | capitalize }}
    </div>
    <div>
        <div class="tk-toggle">
            <div class="toggleButton w-100">
                <input type="radio" class="toggleButton__input tk-ff__input" id="{{ include.option1 }}"
                    name="{{ include.title }}" value="man" {{ include.required }}>
                <label class="toggleButton__label tk-toggle__label" for="{{ include.option1 }}"
                    tabindex="-1">{{ include.option1 | capitalize }}</label>
            </div>
            <div></div>
            <div class="toggleButton w-100">
                <input type="radio" class="toggleButton__input tk-ff__input" id="{{ include.option2 }}"
                    name="{{ include.title }}" value="vrouw">
                <label class="toggleButton__label tk-toggle__label" for="{{ include.option2 }}"
                    tabindex="-1">{{ include.option2 | capitalize }}</label>
            </div>
        </div>
        <div class="tk-ff__error">
            {{ include.error }}
        </div>
    </div>
</div>