<h4 class="headingM mb-4">Wat gebeurt er wanneer ik ga bestellen?</h4>
<div include="/assets/img/icons/counter--large.svg" class="svg-blue"></div>
<div class="f-grey-4 f14 lh-copy mb-4">
    U betaalt de abonnementskosten voor het eerste jaar aan het einde van uw bestelling.
    Na het eerste jaar worden de abonnementskosten jaarlijks van uw rekening afgeschreven, via automatische incasso.
</div>
<div include="/assets/img/icons/ov-chipkaart--large.svg" class="svg-blue"></div>
<div class="f-grey-4 f14 lh-copy">
    U krijgt gratis een nieuwe persoonlijke OV-chipkaart bij uw bestelling van een jaarabonnement.
    Binnen 1 week ontvangt u de OV-chipkaart, mét het abonnement er op, in huis.
</div>