<a href="/bestellen/{{ page.dest }}" class="unlink js-submit-link {% if page.dest == 'betalen' %}js-submit-loader{% endif %}">
    <button type="submit" class="button button--arrowRight button--nsYellow btn w-100 w-auto-sm js-submit-button">
        <span class="btn__content">{{ page.cta }}</span>
        {% if page.dest == 'betalen' %}
        <div class="btn__loader-icon js-submit-loader-icon">
            {% include /icons/loader--small.svg %}
        </div>
        {% endif %}
    </button>
</a>