<form id="customer-data" action="/bestellen/{{ page.dest }}">
    {% if include.wizard %}
    <div class="tk-ff tk-ff--grid">
        <label class="tk-ff__label mb-0">
            E-mailadres
        </label>

        <div class="tk-ff__filled">
            <span class="js-customer-data" id="email">maarten.vriesman@ns.nl</span>
            <a onclick="window.history.go(-1)" class="tk-link-reset">
                <span class="tk-ff__filled-icon">
                    {% include /icons/edit-s--small.svg %}
                </span>
            </a>
        </div>
    </div>
    {% endif %}

    {% include /form/input-field.html
    title="voornaam"
    error="Vul je voornaam in"
    type="text" class="default"
    required="required"
    %}

    {% include /form/input-field.html
    title="tussenvoegsel"
    type="text" class="default"
    width="mxw-150"
    %}

    {% include /form/input-field.html
    title="achternaam"
    error="Vul je achternaam in"
    type="text"
    class="default"
    required="required"
    %}

    {% include /form/input-field.html
    title="geboortedatum"
    error="Vul je geboortedatum in (dd-mm-jjjj)"
    type="text"
    placeholder="dd-mm-jjjj"
    class="date" maxlength="10"
    required="required"
    width="mxw-200"
    %}

    {% include /form/input-field.html
    title="postcode"
    error='Vul je postcode in, bijv. "1234AB"'
    type="text"
    placeholder="3517AK"
    class="postal" maxlength="6"
    required="required"
    width="mxw-150"
    %}

    {% include /form/input-field-dual.html
    title="huisnummer"
    error="Vul je huisnummer in"
    type="number"
    class="house"
    required="required"

    type2="text"
    title2="toevoeging"
    placeholder2="Toevoeging"
    class2="default"
    %}

    <div class="tk-ff__address">
        <div class="tk-ff tk-ff--grid">
            <div></div>
            <div class="tk-ff__address-container">
                Jan van Galenstraat <span class="tk-ff__address-number"></span>,<br>
                Veenendaal
                <span class="tk-ff__address-icon svg-link">
                    {% include /icons/edit-s--small.svg %}
                </span>
            </div>
        </div>
    </div>

    <div class="js-address-additional dn o-0">
        {% include /form/input-field.html
        title="straatnaam"
        error="Vul je straatnaam in"
        value="Jan van Galenstraat"
        type="text"
        class="default"
        %}

        {% include /form/input-field.html
        title="woonplaats"
        error="Vul je woonplaats in"
        value="Veenendaal"
        type="text"
        class="default"
        %}
    </div>
</form>