<form id="customer-data" action="/bestellen/{{ page.dest }}">
    {% if include.wizard %}
    <div class="tk-ff tk-ff--grid">
        <label class="tk-ff__label mb-0">
            E-mailadres
        </label>

        <div class="tk-ff__filled">
            <span class="js-customer-data" id="email">maarten.vriesman@ns.nl</span>
            <a onclick="window.history.go(-1)" class="tk-link-reset">
                <span class="tk-ff__filled-icon">
                    {% include /icons/edit-s--small.svg %}
                </span>
            </a>
        </div>
    </div>
    {% endif %}

    {% include /form/input-field.html
    title="geboortedatum"
    error="Sorry, we hebben echt je geboortedatum nodig"
    message="Bestel je voor je kind? Vul hier je eigen gegevens in en bij de volgende stap de gegevens van je kind."
    type="text"
    placeholder="dd-mm-jjjj"
    class="date-customer" maxlength="10"
    required="required"
    width="mxw-200"
    %}

    <div class="tk-ff tk-ff--grid js-ff-radio">
        <div class="tk-ff__label">
            Geslacht
        </div>
        <div>
            <div class="tk-toggle">
                <div class="toggleButton w-100">
                    <input type="radio" class="toggleButton__input tk-ff__input" id="input54" name="geslacht"
                        value="man" required>
                    <label class="toggleButton__label tk-toggle__label" for="input54" tabindex="-1">Man</label>
                </div>
                <div></div>
                <div class="toggleButton w-100">
                    <input type="radio" class="toggleButton__input tk-ff__input" id="input53" name="geslacht" value="vrouw">
                    <label class="toggleButton__label tk-toggle__label" for="input53" tabindex="-1">Vrouw</label>
                </div>
                <span class="tk-ff__icon tk-ff__icon--approved">
                    {% include /icons/check-fat--small.svg %}
                </span>
            </div>
            <div class="tk-ff__error">
                Vul je geslacht in
            </div>
        </div>
    </div>

    <!-- {% include /form/radio-button.html
    title="Aanhef"
    error="Vul aanhef in"
    class="default"
    required="required"
    %} -->

    {% include /form/input-field.html
    title="voornaam"
    error="Vul je voornaam in"
    type="text" class="default"
    required="required"
    %}

    {% include /form/input-field.html
    title="tussenvoegsel"
    type="text" class="default"
    width="mxw-150"
    %}

    {% include /form/input-field.html
    title="achternaam"
    error="Vul je achternaam in"
    type="text"
    class="default"
    required="required"
    %}

    {% include /form/input-field.html
    title="postcode"
    error='Vul je postcode in, bijv. "1234AB"'
    type="text"
    placeholder="3517AK"
    class="postal" maxlength="6"
    required="required"
    width="mxw-150"
    %}

    {% include /form/input-field-dual.html
    title="huisnummer"
    error="Vul je huisnummer in"
    type="number"
    class="house"
    required="required"

    type2="text"
    title2="toevoeging"
    placeholder2="Toevoeging"
    class2="default"
    %}

    {% include form/address.html %}

    <div class="js-address-additional dn o-0">
        {% include /form/input-field.html
        title="straatnaam"
        error="Vul je straatnaam in"
        value="Jan van Galenstraat"
        type="text"
        class="default"
        %}

        {% include /form/input-field.html
        title="woonplaats"
        error="Vul je woonplaats in"
        value="Veenendaal"
        type="text"
        class="default"
        %}
    </div>
</form>