<div class="tk-datepicker">
    <div class="tk-datepicker__header">
        <span class="rotate-svg-180 svg-link g items-center" include="/assets/img/icons/chevron-M--small.svg"></span>
        <span class="tk-datepicker__month">
            december 2018
            <span class="tk-datepicker__chevron-down" include="/assets/img/icons/chevron-S--small.svg"></span>
        </span>
        <span class="svg-link g items-center" include="/assets/img/icons/chevron-M--small.svg"></span>
    </div>

    <div class="tk-datepicker__grid">
        <div>ma</div>
        <div>di</div>
        <div>wo</div>
        <div>do</div>
        <div>vr</div>
        <div>za</div>
        <div>zo</div>
    </div>
    <div class="bo-b mb-2"></div>

    <div class="tk-datepicker__grid">
        <div></div>
        <div></div>
        <div></div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">1</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">2</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">3</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">4</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">5</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">6</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">7</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">8</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">9</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">10</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">11</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">12</div>
        <div class="tk-datepicker__day tk-datepicker__day--disabled">13</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">14</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">15</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">16</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">17</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">18</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">19</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">20</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">21</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">22</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">23</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle tk-datepicker__day--today">24</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">25</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">26</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">27</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">28</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">29</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">30</div>
        <div class="tk-datepicker__day tk-datepicker__day--enabled js-toggle">31</div>
    </div>
</div>