<footer class="footer ovr-footer-blue {{ include.class }}">
    <div class="container">
        <div class="grid grid--footer" data-controller="generic/ui/ResponsiveGrid" data-type="footermenu">
            <div class="grid__unit m-6-12 l-3-12" data-type="topfootermenuitem">
                <div class="tile tile--fullyTransparent">
                    <div class="tile__title">
                        <h3 class="headingXXS footer__heading">Direct naar...</h3>
                    </div>
                    <div class="tile__content">
                        <ul class="list">
                            <li class="list__item">
                                <a href="/reisinformatie" class="arrowLink arrowLink--white">
                                    Reisinformatie</a>
                            </li>
                            <li class="list__item">
                                <a href="/uitgelicht" class="arrowLink arrowLink--white">
                                    Uitgelicht</a>
                            </li>
                            <li class="list__item">
                                <a href="/zakelijk" class="arrowLink arrowLink--white">
                                    Zakelijk</a>
                            </li>
                            <li class="list__item">
                                <a href="/klantenservice" class="arrowLink arrowLink--white">
                                    Klantenservice</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid__unit m-6-12 l-3-12" data-type="topfootermenuitem">
                <div class="tile tile--fullyTransparent">
                    <div class="tile__title">
                        <h3 class="headingXXS footer__heading">Onze producten</h3>
                    </div>
                    <div class="tile__content">
                        <ul class="list">
                            <li class="list__item">
                                <a href="/producten/losse-kaartjes-toeslagen" class="arrowLink arrowLink--white">
                                    Kaartjes &amp; Toeslagen</a>
                            </li>
                            <li class="list__item">
                                <a href="/producten/abonnementen" class="arrowLink arrowLink--white">
                                    Abonnementen</a>
                            </li>
                            <li class="list__item">
                                <a href="/deur-tot-deur" class="arrowLink arrowLink--white">
                                    Deur tot deur</a>
                            </li>
                            <li class="list__item">
                                <a href="/dagje-uit" class="arrowLink arrowLink--white">
                                    Dagje uit</a>
                            </li>
                            <li class="list__item">
                                <a href="https://www.nsinternational.nl" class="arrowLink arrowLink--white" target="_blank"
                                    rel="external noopener">
                                    Internationale treinkaartjes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid__unit m-6-12 l-3-12" data-type="topfootermenuitem">
                <div class="tile tile--fullyTransparent">
                    <div class="tile__title">
                        <h3 class="headingXXS footer__heading">Meer NS</h3>
                    </div>
                    <div class="tile__content">
                        <ul class="list">
                            <li class="list__item">
                                <a href="/over-ns" class="arrowLink arrowLink--white">
                                    Over NS</a>
                            </li>
                            <li class="list__item">
                                <a href="https://werkenbijns.nl/" class="arrowLink arrowLink--white" target="_blank"
                                    rel="external noopener">
                                    Werken bij NS</a>
                            </li>
                            <li class="list__item">
                                <a href="/zakelijk/partners-in-mobiliteit.html" class="arrowLink arrowLink--white">
                                    Partners in mobiliteit</a>
                            </li>
                            <li class="list__item">
                                <a href="http://nieuws.ns.nl" class="arrowLink arrowLink--white" target="_blank" rel="external noopener">
                                    Nieuws</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid__unit m-6-12 l-3-12" data-type="socialfootermenuitem">
                <div class="tile tile--fullyTransparent">
                    <div class="tile__title">
                        <h3 class="headingXXS footer__heading">
                            Sociale media
                        </h3>
                    </div>
                    <div class="tile__content">
                        <ul class="list">
                            <li class="list__item">
                                <a href="https://www.facebook.com/nederlandsespoorwegen" class="iconLink iconLink--facebook"
                                    target="_blank" rel="external noopener">
                                    Facebook</a>
                            </li>
                            <li class="list__item">
                                <a href="https://twitter.com/ns_online" class="iconLink iconLink--twitter" target="_blank"
                                    rel="external noopener">
                                    Twitter</a>
                            </li>
                            <li class="list__item">
                                <a href="https://www.instagram.com/ns_online/?hl=nl" class="iconLink iconLink--instagram"
                                    target="_blank" rel="external noopener">
                                    Instagram</a>
                            </li>
                            <li class="list__item">
                                <a href="https://www.youtube.com/user/NS" class="iconLink iconLink--youtube" target="_blank"
                                    rel="external noopener">
                                    YouTube</a>
                            </li>
                            <li class="list__item">
                                <a href="https://www.linkedin.com/company/nederlandsespoorwegen" class="iconLink iconLink--linkedin"
                                    target="_blank" rel="external noopener">
                                    LinkedIn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-blue">
        <div class="container">
            <div class="bo-t-white o-20 mb-4 mh-4"></div>
            <div class="grid grid--footer">
                <div class="grid__unit">
                    <div class="footer__menuContainer">
                        <ul class="footer__menu list list--horizontal" data-controller="generic/ui/EqualWidth">
                            <li class="list__item">
                                <a href="/disclaimer.html" class="arrowLink arrowLink--white o-75">
                                    Disclaimer</a>
                            </li>
                            <li class="list__item">
                                <a href="/privacy" class="arrowLink arrowLink--white o-75">
                                    Privacy</a>
                            </li>
                            <li class="list__item">
                                <a href="/privacy/cookiebeleid.html" class="arrowLink arrowLink--white o-75">
                                    Cookies</a>
                            </li>
                            <li class="list__item">
                                <a href="/bedrijfsinformatie.html" class="arrowLink arrowLink--white o-75">
                                    Bedrijfsinformatie</a>
                            </li>
                            <li class="list__item">
                                <a href="/voorwaarden.html" class="arrowLink arrowLink--white o-75">
                                    Voorwaarden en folders</a>
                            </li>
                        </ul>
                        <div class="nslogo nslogo--footer">
                            <a class="nslogo__link" href="/" title="Ga naar de homepagina">
                                <img class="nslogo__image" src="/assets/img/NS_logo_white.svg" height="20" width="52" alt="Logo Nederlandse Spoorwegen" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>