<div class="tk-form-field tk-form-field--grid">
    <label for="{{ include.title }}" class="tk-label">
        {{ include.title | capitalize }}
    </label>

    <div>
        <input class="textInput tk-input" type="{{ include.val }}" id="{{ include.title }}" />
        <span class="tk-form-field__val tk-form-field__val--approved tk-val-standard" include="/assets/img/icons/check-fat--small.svg"></span>
        <div class="tk-form-field__error">
            {{ include.error }}
        </div>
        {% if include.description %}
        <p class="tk-form-field__description">
            {{ include.description }}
        </p>
        {% endif %}
    </div>
</div>