<div class="{{ include.class }}">
    <div class="g g-1-m">
        <h3 class="headingXS fw-b mb-1">Dal Voordeel</h3>
        <p class="f-blue txt-r mb-0">€ 50,00</p>
    </div>
    <p class="f-grey-3 f14 lh-copy mb-0">Reisklasse: 2e klas</p>
    <p class="f-grey-3 f14 lh-copy mb-2">Ingangsdatum: 18-07-2018</p>
    <p class="f-grey-3 f12 lh-copy mb-0">Contractduur: 1 jaar. Daarna maandelijks opzegbaar.</p>

    {% if include.ov-fiets %}
    <div class="g g-1-m mt-2 bo-t pt-1">
        <h3 class="headingXS fw-b mb-0">OV-fiets</h3>
        <p class="f-blue txt-r mb-0">Op rekening</p>
    </div>
    {% endif %}
</div>