<div class="tk-order {{ include.class }}">
    <div class="tk-order__grid">
        <div class="svg-blue">
            {% include icons/discount--large.svg %}
        </div>
        <h3 class="tk-order__title">Dal Voordeel</h3>
    </div>
    <div class="bo-b-blue mb-3"></div>

    <div class="g g-1-m gap-4 f-blue f16 f18-sm">
        <p>2e klas, 1 jaar</p>
        <p>{{ site.data.app.price.dvd }}</p>
    </div>
    <p class="f14 f-blue mb-3 lh-copy">(Na 1 jaar maandelijks opzegbaar)</p>

    <ul class="f-grey-4 f14 lh-copy mb-0">
        <li>Eigen OV-chipkaart? Binnen 1 uur op te halen bij de kaartautomaat.</li>
        <li class="mb-0">Gratis nieuwe OV-chipkaart? Binnen 5 werkdagen in huis. We hebben hiervoor je foto nodig.</li>
    </ul>
</div>