<div class="tk-order">
    <div class="g g-m-1 gap-2 items-center mb-1">
        <div class="svg-blue" include="/assets/img/icons/discount--large.svg"></div>
        <h3 class="f24 f28-sm lh-title fw-b mb-1">Dal Voordeel</h3>
    </div>
    <div class="bo-b-blue mb-3"></div>
    <p class="f-blue f16 f18-sm lh-title mb-0">2e klas, 1 jaar</p>
    <P class="f14 f-blue mb-3">(Daarna maandelijks opzeggen)</p>
    <ul class="f-grey-4 f14 lh-copy">
        <li>Met gratis nieuwe OV-chipkaart binnen 1 week in huis</li>
        <li>Met je eigen OV-chipkaart binnen 1 uur bij kaartautomaat</li>
    </ul>
    <div class="bo-b mb-2"></div>
    <div class="f-blue f28">€ 50 <span class="f14">per jaar</span></div>
</div>