<div class="tk-order {{ include.class }}">
    <div class="tk-order__grid">
        <div class="svg-blue" include="/assets/img/icons/discount--large.svg"></div>
        <h3 class="f24 f28-sm lh-title fw-b mb-1">Dal Voordeel</h3>
    </div>
    <div class="bo-b-blue mb-3"></div>

    <div class="g g-1-m gap-4">
        <p class="f-blue f16 f18-sm mb-0">2e klas, 1 jaar</p>
        <p class="f-blue f16 f18-sm mb-0">€ 50,00</p>
    </div>
    <p class="f14 f-blue mb-3 lh-copy">(Daarna maandelijks opzeggen)</p>

    <ul class="f-grey-4 f14 lh-copy mb-0">
        <li>Met gratis nieuwe OV-chipkaart binnen 1 week in huis</li>
        <li class="mb-0">Met je eigen OV-chipkaart binnen 1 uur bij kaartautomaat</li>
    </ul>
</div>