<div class="mxw-350 o-hidden br-8 bs-m gd-r-yellow-subtle pa-3 mb-6 mb-8-sm">
    <div class="svg-blue" include="/assets/img/icons/discount--large.svg"></div>
    <div class="g g-1-m">
        <h3 class="headingXS fw-b mb-1">Dal Voordeel</h3>
        <p class="f-blue txt-r mb-0">€ 50,00</p>
    </div>
    <div class="bo-b-blue mb-2"></div>
    <div class="f-blue">
        <p class="f14 lh-copy mb-0">Reisklasse: 2e klas</p>
        <p class="f14 lh-copy mb-2">Ingangsdatum: 18-07-2018</p>
        <p class="f12 lh-copy mb-0">Contractduur: 1 jaar. Daarna maandelijks opzegbaar.</p>
    </div>
</div>