<div class="tk-choice-selector">
    <h2 class="tk-heading__subtitle">Kies OV&#8209;chipkaart</h2>

    <!-- option 1 -->
    <div class="tk-choice-selector__item js-cs-item">
        <div class="tk-choice-selector__header">
            <div>
                <h3 class="tk-choice-selector__title">Nieuwe OV&#8209;chipkaart</h3>
                <p class="tk-choice-selector__description">Binnen 5 werkdagen in huis</p>
            </div>
            <div class="tk-choice-selector__price">
                <div class="tk-choice-selector__new-price">Gratis</div>
                <div class="tk-choice-selector__old-price">€ 7,50</div>
            </div>
        </div>
        <div class="tk-choice-selector__content">
            <div class="tk-choice-selector__divider"></div>
            {% include pasfoto.html %}
            <div class="tk-choice-selector__divider mb-2 mb-1-sm"></div>
            <span class="f-blue">Ingangsdatum bestelling: </span>
            <span class="f-grey no-wrap">
                {{ page.date }}
                <span class="tk-choice-selector__edit js-dp-btn js-dp-bs-btn">
                    <div class="svg-link">
                        {% include /icons/edit-s--small.svg %}
                    </div>
                    <div class="tk-datepicker-lg tk-datepicker-lg--edit">{% include datepicker.html %}</div>
                </span>
            </span>
        </div>
    </div>

    <!-- option 2 -->
    <div class="tk-choice-selector__item js-cs-item">
        <div class="tk-choice-selector__header">
            <div>
                <h3 class="tk-choice-selector__title js-other-card-heading">Ik heb al een OV&#8209;chipkaart</h3>
                <p class="tk-choice-selector__description">Binnen 1 uur op te halen bij een NS kaartautomaat</p>
            </div>
            <div class="tk-choice-selector__price">
                <div class="tk-choice-selector__new-price"></div>
                <div class="tk-choice-selector__old-price"></div>
            </div>
        </div>
        <div class="tk-choice-selector__content">
            <div class="tk-choice-selector__divider"></div>
            {% include form/current-card.html %}
            <div class="tk-choice-selector__divider mb-2 mb-1-sm"></div>
            <span class="f-blue">Ingangsdatum bestelling: </span>
            <span class="f-grey no-wrap">
                {{ page.date }}
                <span class="tk-choice-selector__edit js-dp-btn js-dp-bs-btn">
                    <div class="svg-link">
                        {% include /icons/edit-s--small.svg %}
                    </div>
                    <div class="tk-datepicker-lg tk-datepicker-lg--edit">{% include datepicker.html %}</div>
                </span>
            </span>
        </div>
    </div>
</div>