<div class="tk-choice-selector">
    <h2 class="tk-heading__subtitle">Kies OV&#8209;chipkaart</h2>

    <!-- option 1 -->
    <div class="tk-choice-selector__item js-cs-item">
        <div class="tk-choice-selector__header">
            <div>
                <h3 class="tk-choice-selector__title js-other-card-heading">Nieuwe OV&#8209;chipkaart</h3>
                <p class="tk-choice-selector__description">Binnen 5 werkdagen in huis</p>
            </div>
            <div class="tk-choice-selector__price">
                <div class="tk-choice-selector__new-price">Gratis</div>
                <div class="tk-choice-selector__old-price">€ 7,50</div>
            </div>
        </div>
        <div class="tk-choice-selector__content">
            <div class="tk-choice-selector__divider"></div>
            <div class="tk-pasfoto js-photo">
                <div class="txt-c js-photo-empty">
                    <div class="tk-pasfoto__photo">
                        {% include /icons/user--small--res.svg %}
                    </div>
                    <div class="tk-pasfoto__description js-other-card-photo">
                        Kies of maak foto
                    </div>
                </div>
                <div class="tk-pasfoto__description tk-pasfoto__description--filled js-photo-filled is-hidden">
                    Aanpassen
                </div>
            </div>
            <div class="tk-choice-selector__divider mb-2 mb-1-sm"></div>
            <span class="f-blue">Ingangsdatum bestelling: </span>
            <span class="f-grey no-wrap">
                {{ page.date }}
                <span class="tk-choice-selector__edit js-dp-btn js-dp-bs-btn">
                    <div class="svg-link">
                        {% include /icons/edit-s--small.svg %}
                    </div>
                    <div class="tk-datepicker-lg tk-datepicker-lg--edit">{% include datepicker.html %}</div>
                </span>
            </span>
        </div>
    </div>

    <!-- option 2 -->
    <div class="tk-choice-selector__item js-cs-item">
        <div class="tk-choice-selector__header">
            <div>
                <h3 class="tk-choice-selector__title">Ik heb al een OV&#8209;chipkaart</h3>
                <p class="tk-choice-selector__description">Binnen 1 uur op te halen bij een NS kaartautomaat</p>
            </div>
            <div class="tk-choice-selector__price">
                <div class="tk-choice-selector__new-price"></div>
                <div class="tk-choice-selector__old-price"></div>
            </div>
        </div>
        <div class="tk-choice-selector__content">
            <div class="tk-choice-selector__divider"></div>
            <form>
                <div class="radioButton tk-ff__radio">
                    <input type="radio" class="radioButton__input" id="Today_TravelDate" name="TravelDate" checked>
                    <label class="radioButton__label" for="Today_TravelDate">
                        <span class="tk-ov-chip">3528</span>
                        <span class="tk-ov-chip">6543</span>
                        <span class="tk-ov-chip">2345</span>
                        <span class="tk-ov-chip">1121</span>
                    </label>
                </div>
                <div class="radioButton tk-ff__radio">
                    <input type="radio" class="radioButton__input" id="Tomorrow_TravelDate" name="TravelDate">
                    <label class="radioButton__label" for="Tomorrow_TravelDate">
                        Andere kaart invoeren
                    </label>
                </div>
            </form>
            <div class="tk-choice-selector__divider mb-2 mb-1-sm"></div>
            <span class="f-blue">Ingangsdatum bestelling: </span>
            <span class="f-grey no-wrap">
                {{ page.date }}
                <span class="tk-choice-selector__edit js-dp-btn js-dp-bs-btn">
                    <div class="svg-link">
                        {% include /icons/edit-s--small.svg %}
                    </div>
                    <div class="tk-datepicker-lg tk-datepicker-lg--edit">{% include datepicker.html %}</div>
                </span>
            </span>
        </div>
    </div>
</div>