<div class="g g-m-1-xs gap-2 items-center">
    <div class="tk-pasfoto is-error js-photo">
        <div class="txt-c js-photo-empty">
            <div class="tk-pasfoto__photo">
                {% include /icons/user--small--res.svg %}
            </div>
            <div class="tk-pasfoto__description js-other-card-photo">
                Kies of maak foto
            </div>
        </div>
        <div class="tk-pasfoto__description tk-pasfoto__description--filled js-photo-filled is-hidden">
            Aanpassen
        </div>
    </div>
    <label class="f14 f-red mxw-250 lh-copy js-photo-error-label">
        Voor een nieuwe OV-chipkaart hebben we een foto van jezelf nodig.
    </label>
</div>