<div class="bg-grey-8 bo-b">
    <div class="container ovr-container mv-0">
        <div class="tk-progress">
            {% if page.step == 1 %}
            <div class="a a-fi-down">
                <div class="tk-progress__bar">
                    <div></div>
                    <div class="tk-progress__line"></div>
                    <div class="tk-progress__line"></div>
                    <div class="tk-progress__line"></div>
                    <div></div>
                </div>
                <div class="tk-progress__grid">
                    <div class="tk-progress__step tk-progress__step--active">
                        <div class="tk-progress__circle">1</div>
                        <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step1 }}</div>
                    </div>
                    <div class="tk-progress__step">
                        <div class="tk-progress__circle">2</div>
                        <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step2 }}</div>
                    </div>
                    <div class="tk-progress__step">
                        <div class="tk-progress__circle">3</div>
                        <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step3 }}</div>
                    </div>
                    <div class="tk-progress__step">
                        <div class="tk-progress__circle">4</div>
                        <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step4 }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if page.step == 2 %}
            <div class="tk-progress__bar">
                <div></div>
                <div class="tk-progress__line tk-progress__line--done"></div>
                <div class="tk-progress__line"></div>
                <div class="tk-progress__line"></div>
                <div></div>
            </div>
            <div class="tk-progress__grid">
                <a onclick="window.history.go(-1)" class="btn-link">
                    <div class="tk-progress__step tk-progress__step--done">
                        <div class="tk-progress__circle"></div>
                        <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step1 }}</div>
                    </div>
                </a>
                <div class="tk-progress__step tk-progress__step--active">
                    <div class="tk-progress__circle">2</div>
                    <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step2 }}</div>
                </div>
                <div class="tk-progress__step">
                    <div class="tk-progress__circle">3</div>
                    <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step3 }}</div>
                </div>
                <div class="tk-progress__step">
                    <div class="tk-progress__circle">4</div>
                    <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step4 }}</div>
                </div>
            </div>
            {% endif %}
            {% if page.step == 3 %}
            <div class="tk-progress__bar">
                <div></div>
                <div class="tk-progress__line tk-progress__line--active"></div>
                <div class="tk-progress__line tk-progress__line--done"></div>
                <div class="tk-progress__line"></div>
                <div></div>
            </div>
            <div class="tk-progress__grid">
                <a onclick="window.history.go(-2)" class="btn-link">
                    <div class="tk-progress__step tk-progress__step--done">
                        <div class="tk-progress__circle"></div>
                        <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step1 }}</div>
                    </div>
                </a>
                <a onclick="window.history.go(-1)" class="btn-link">
                    <div class="tk-progress__step tk-progress__step--done">
                        <div class="tk-progress__circle"></div>
                        <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step2 }}</div>
                    </div>
                </a>
                <div class="tk-progress__step tk-progress__step--active">
                    <div class="tk-progress__circle">3</div>
                    <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step3 }}</div>
                </div>
                <div class="tk-progress__step">
                    <div class="tk-progress__circle">4</div>
                    <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step4 }}</div>
                </div>
            </div>
            {% endif %}
            {% if page.step == 4 %}
            <div class="tk-progress__bar">
                <div></div>
                <div class="tk-progress__line tk-progress__line--active"></div>
                <div class="tk-progress__line tk-progress__line--active"></div>
                <div class="tk-progress__line tk-progress__line--done"></div>
                <div></div>
            </div>
            <div class="tk-progress__grid">
                <div class="tk-progress__step tk-progress__step--done">
                    <div class="tk-progress__circle"></div>
                    <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step1 }}</div>
                </div>
                <div class="tk-progress__step tk-progress__step--done">
                    <div class="tk-progress__circle"></div>
                    <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step2 }}</div>
                </div>
                <div class="tk-progress__step tk-progress__step--done">
                    <div class="tk-progress__circle"></div>
                    <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step3 }}</div>
                </div>
                <div class="tk-progress__step tk-progress__step--active">
                    <div class="tk-progress__circle">4</div>
                    <div class="tk-progress__description hidden-xs">{{ site.data.app.progress.step4 }}</div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>