/*-------------------
        Form
--------------------*/


// form fieds
// -------------------------
.tk-form-field {
    position: relative;
    margin-bottom: $gutter;
    max-width: 420px;
}

.tk-form-field__description {
    margin: 7px 0 0;
    @include font-style(14px, normal, 1.5);
    color: $ns-grey-4;
}



// misc
// ------------------------
.tk-label {
    display: block;
    transition: $fade-link;
    @include font-style(16px, normal, 1.25);
    color: $ns-blue;

    &.is-focused {
        color: $ns-light-blue;
    }
}

.tk-input {
    // lay-out
    width: 100%;
    padding-top: 7px;

    // styling
    -webkit-appearance: none;
    border: 1px solid $ns-grey-5;
    border-radius: 4px;
    @include font-style(18px, bold, 1.25);
    color: $ns-blue;
    transition: $fade-link;

    &.is-filled {
        border: 1px solid $ns-blue;
    }

    &::placeholder {
        position: relative;
        top: 2px;
        @include font-style(16px, normal, 1.25);
    }

    &:hover {
        border: 1px solid $ns-blue;
    }

    &:focus {
        box-shadow: 0 2px 28px rgba($ns-black, 0.1);
        border: 1px solid $ns-light-blue;
        color: $ns-light-blue;
    }

    &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $ns-blue-4 inset;
        -webkit-text-fill-color: $ns-blue;
    }

    &:-webkit-autofill:focus {
        box-shadow: 0 2px 28px rgba($ns-black, 0.1), 0 0 0px 1000px $ns-blue-4 inset;
        border: 1px solid $ns-light-blue;
        -webkit-text-fill-color: $ns-light-blue;
    }
}

.tk-input--email {
    &.is-loading {
        background-color: $ns-grey-8;
    }
}