/*-------------------
        Form
--------------------*/


// form fieds
// -------------------------
.tk-form-field {
    position: relative;
    margin-bottom: $gutter;
    max-width: 400px;
}

.tk-form-field--grid {
    display: grid;
    grid-column-gap: $gutter;
    max-width: 600px;

    @include sm {
        margin-bottom: $half-gutter;
        grid-template-columns: 2fr 5fr;
    }

    .tk-label {
        @include sm {
            line-height: $button-height;
            text-align: right;
        }
    }

    .tk-form-field__val {
        @include sm {
            top: 12px;
        }
    }
}

.tk-form-field__description {
    margin: 7px 0 0;
    @include font-style(14px, normal, 1.5);
    color: $ns-grey-4;
}

.tk-form-field__error {
    display: none;
    visibility: hidden;
    margin: 4px 0 0;
    @include font-style(14px, normal, 1.5);
    color: $ns-red-alert;
}

// in field validation
.tk-form-field__val {
    opacity: 0;
    transition: $fade-all;
    position: absolute;
    top: 40px;
    right: 14px;

    &.is-active {
        opacity: 1;
    }
}

.tk-form-field__val--loading {
    @keyframes rotate {
        from { transform: rotate(0deg); }
        to   { transform: rotate(360deg); }
    }

    svg {
        transform-origin: 50% 50%;
        animation: rotate 500ms linear infinite;
        fill: $ns-blue;
        transition: $fade-link;
    }
}

.tk-form-field__val--approved {
    svg {
        width: 17px;
        fill: $ns-green-sexy;
    }
}



// components
// ------------------------
.tk-label {
    display: block;
    margin-bottom: 7px;
    transition: $fade-link;
    @include font-style(16px, normal, 1.25);
    color: $ns-blue;
}

.tk-input {
    // lay-out
    width: 100%;
    padding-top: 7px;
    height: $button-height;

    // styling
    -webkit-appearance: none;
    border: 1px solid $ns-grey-6b;
    @include font-style(18px, bold, 1.25);
    color: $ns-blue;
    transition: $fade-link;

    &.is-error {
        border: 1px solid $ns-red-alert;
    }

    &::placeholder {
        @include font-style(16px, normal, 1.5);
        color: $ns-grey-6;
    }

    &:focus {
        box-shadow: 0 2px 28px rgba($ns-black, 0.1);
        border: 1px solid $ns-blue;
        color: $ns-blue;
    }

    &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $ns-blue-4 inset;
        -webkit-text-fill-color: $ns-blue;
    }

    &:-webkit-autofill:focus {
        box-shadow: 0 2px 28px rgba($ns-black, 0.1), 0 0 0px 1000px $ns-blue-4 inset;
    }
}

.no-touch {
    .tk-input:hover {
        border: 1px solid $ns-grey-5;
    }
    .tk-input:focus {
        border: 1px solid $ns-blue;
    }
}