/*-------------------
  generic overrides
-------------------*/

.header,
.tile,
.notificationBar,
.notificationList,
.container--article {
    box-shadow: 0 1px 0 0 rgba(7, 7, 33, .15);
}

.tile--fullyTransparent {
    box-shadow: none;
}

.button {
	border-radius: 4px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.headingL,
.headingM,
.headingS,
.headingXL,
.headingXXL,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.3px;
}

.rppb-plan-button {
    @include sm {
        margin-left: $half-gutter !important;
    }
}

.content {
    overflow: hidden;
    padding: 0;
}

.ovr-container {
    padding: 14px;
    box-shadow: none;
    @include sm {
        padding: 0 2rem;
    }
}

.ovr-footer-blue {
    background-color: $ns-blue;

    .footer__heading {
        color: $ns-white;
    }

    .iconLink {
        color: $ns-white;
    }
}