/*-------------------
         App
--------------------*/

.tk-sticky-bar {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 14px 2rem;
    background-color: $ns-white;
    border-top: 1px solid $ns-grey-7;

    &.is-active {
        display: block;
    }
}

// progress bar
// --------------------------------------------
.tk-progress {
    padding: $half-gutter 0;

    @include md {
        padding: $gutter 0;
    }
}

.tk-progress__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    line-height: 1;
}

// circle
.tk-progress__circle {
    // lay-out
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 38px;
    height: 38px;

    //styling
    background-color: $ns-white;
    border: 3px solid $ns-grey-6b;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: $ns-grey-5;
}

.tk-progress__description {
    margin-top: 10px;
    font-size: calculate-rem(14px);
    text-align: center;
    color: $ns-grey-5;
}

.tk-progress__step {
    position: relative;
    display: grid;
    justify-content: center;
}

.tk-progress__step--active {
    .tk-progress__description {
        font-weight: bold;

        @keyframes color-descr {
            from {
                color: $ns-grey-5;
            }

            to {
                color: $ns-green-sexy;
            }
        }

        animation: color-descr 400ms $ease both 400ms;
    }

    .tk-progress__circle {
        @keyframes color-in {
            from {
                border: 3px solid $ns-grey-6b;
                background-color: $ns-white;
                color: $ns-grey-5;
            }

            to {
                border: none;
                background-color: $ns-green-sexy;
                color: $ns-white;
            }
        }

        animation: color-in 400ms $ease both 400ms;
    }
}

.tk-progress__step--done {
    .tk-progress__description {
        color: $ns-green-sexy;
    }

    .tk-progress__circle {
        border: 3px solid $ns-green-sexy;

        &:before {
            content: "";
            width: 1rem;
            height: 1rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.75 8.125'%3E%3Ctitle%3Echeck-fat--small%3C/title%3E%3Cpath fill='%2300AA89' d='M3.5,8.125a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,1.707,3.918L3.443,5.654,7.991.349a1,1,0,1,1,1.518,1.3L4.259,7.775a1,1,0,0,1-.72.349Z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}

// bar
.tk-progress__bar {
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.tk-progress__line {
    background-color: $ns-grey-6b;
    height: 3px;
}

.tk-progress__line--active {
    background-color: $ns-green-sexy;
}

.tk-progress__line--done {
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $ns-green-sexy;
        transform: scaleX(0);

        @keyframes scale-in-line {
            from {
                transform: scaleX(0);
            }

            to {
                transform: scaleX(1);
            }
        }

        animation: scale-in-line 600ms $ease both 100ms;
        transform-origin: 0 0;
    }
}




// comfort information – how it works
// --------------------------------------------
.tk-comfort__grid {
    display: grid;
    grid-gap: $gutter;

    @include sm {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: $double-gutter;
    }
}

.tk-comfort__item {
    display: grid;
    grid-template-rows: 56px 1fr;
}

.tk-comfort__icon {
    align-self: center;

    svg {
        fill: $ns-blue;
    }
}




// order details
// --------------------------------------------

.tk-order {
    //layout
    overflow: hidden;
    padding: 21px;
    max-width: 420px;
    margin-bottom: $one-half-gutter;

    // styling
    box-shadow: 0 5px 20px rgba($ns-black, 0.06);
    border: 1px solid $ns-grey-7;

    @include sm {
        margin-bottom: $double-gutter;
    }
}
