/*-------------------
         App
--------------------*/


// call to action
// ---------------------------------------------
.tk-sticky-bar {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 14px 2rem;
    background-color: $ns-white;
    border-top: 1px solid $ns-grey-7;

    &.is-active {
        display: block;
    }
}




// funnel
// --------------------------------------------
.tk-funnel-container {
    display: grid;
    margin: 0 auto;
    max-width: 784px;
}

.tk-funnel-container--2-columns {
    max-width: 600px;
    grid-column-gap: $double-gutter;

    @include md {
        max-width: 100%;
        grid-template-columns: 320px 1fr;
    }

    @include lg {
        grid-column-gap: $triple-gutter;
    }

    .tk-receipt {
        max-width: 100%;
    }
}




// page heading
// --------------------------------------------
.tk-heading {
    padding-bottom: $half-gutter;

    @include sm {
        padding-bottom: $gutter;
    }
}

.tk-heading--funnel {
    margin-bottom: $gutter;
    border-bottom: 1px solid $ns-grey-7;

    @include sm {
        margin-bottom: $one-half-gutter;
    }
}

.tk-heading__title {
    margin: 0;
    @include font(38px, bold, 1.25);

    @include sm {
        font-size: toRem(48px);
    }

    @include md {
        font-size: toRem(60px);
    }
}

.tk-heading__subtitle {
    margin-bottom: $half-gutter;
    @include font(24px, normal, 1.25);

    @include md {
        margin-bottom: 20px;
        font-size: toRem(36px);
    }
}




// progress bar
// --------------------------------------------
.tk-progress {
    padding: $half-gutter 0;

    @include md {
        padding: $gutter 0;
    }
}

.tk-progress__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    line-height: 1;
}

// circle
.tk-progress__circle {
    // lay-out
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 38px;
    height: 38px;

    //styling
    background-color: $ns-white;
    border: 3px solid $ns-grey-6b;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: $ns-grey-4;
}

.tk-progress__description {
    margin-top: 10px;
    font-size: toRem(14px);
    text-align: center;
    color: $ns-grey-4;
}

.tk-progress__step {
    position: relative;
    display: grid;
    justify-content: center;
}

.tk-progress__step--active {
    .tk-progress__description {
        font-weight: bold;

        @keyframes color-descr {
            from {
                color: $ns-grey-4;
            }

            to {
                color: $ns-light-blue;
            }
        }

        animation: color-descr 400ms $ease both 400ms;
    }

    .tk-progress__circle {
        @keyframes color-in {
            from {
                border: 3px solid $ns-grey-6b;
                background-color: $ns-white;
                color: $ns-grey-4;
            }

            to {
                border: none;
                background-color: $ns-light-blue;
                color: $ns-white;
            }
        }

        animation: color-in 400ms $ease both 400ms;
    }
}

// circle tick
@mixin circle-tick($url) {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: $url;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

$tick-green: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.75 8.125'%3E%3Ctitle%3Echeck-fat--small%3C/title%3E%3Cpath fill='%230063d3' d='M3.5,8.125a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,1.707,3.918L3.443,5.654,7.991.349a1,1,0,1,1,1.518,1.3L4.259,7.775a1,1,0,0,1-.72.349Z'/%3E%3C/svg%3E");
$tick-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.75 8.125'%3E%3Ctitle%3Echeck-fat--small%3C/title%3E%3Cpath fill='%23ffffff' d='M3.5,8.125a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,1.707,3.918L3.443,5.654,7.991.349a1,1,0,1,1,1.518,1.3L4.259,7.775a1,1,0,0,1-.72.349Z'/%3E%3C/svg%3E");
$tick-grey: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.75 8.125'%3E%3Ctitle%3Echeck-fat--small%3C/title%3E%3Cpath fill='%236a6a7a' d='M3.5,8.125a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,1.707,3.918L3.443,5.654,7.991.349a1,1,0,1,1,1.518,1.3L4.259,7.775a1,1,0,0,1-.72.349Z'/%3E%3C/svg%3E");

.tk-progress__step--done {
    .tk-progress__description {
        color: $ns-light-blue;
    }

    .tk-progress__circle {
        border: 3px solid $ns-light-blue;

        &:before {
            @include circle-tick($tick-green);
        }
    }
}

.tk-progress__step--last {
    .tk-progress__circle {
        &:before {
            @include circle-tick($tick-grey);
        }
    }
}

.tk-progress__step--finished {
    .tk-progress__circle {
        &:after {
            position: absolute;
            @extend .a;
            @extend .a-fi;
            @extend .a-del-200;
            @include circle-tick($tick-white);
        }
    }
}

// bar
.tk-progress__bar {
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.tk-progress__line {
    background-color: $ns-grey-6b;
    height: 3px;
}

.tk-progress__line--active {
    background-color: $ns-light-blue;
}

.tk-progress__line--done {
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $ns-light-blue;
        transform: scaleX(0);

        @keyframes scale-in-line {
            from {
                transform: scaleX(0);
            }

            to {
                transform: scaleX(1);
            }
        }

        animation: scale-in-line 600ms $ease both 100ms;
        transform-origin: 0 0;
    }
}




// comfort information – how it works
// --------------------------------------------
.tk-comfort__grid {
    display: grid;
    grid-gap: $gutter;

    @include sm {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: $double-gutter;
    }
}

.tk-comfort__item {
    display: grid;
    grid-template-rows: 56px 1fr;
}

.tk-comfort__icon {
    align-self: center;

    svg {
        fill: $ns-blue;
    }
}




// choice selector
// ------------------------------------------
.selector {
    margin-bottom: $double-gutter;
}

.selector__item {
    position: relative;
    margin-bottom: $half-gutter;
    padding: 20px;
    border-radius: 4px;
    transition: $fade-all;
    cursor: pointer;

    &:before {
        content: "";
        @include full(absolute);
        border: 1px solid $ns-grey-6b;
        border-radius: 4px;
        transition: $fade-all;
    }

    &.is-selected {
        box-shadow: 0 2px 28px rgba($ns-black, 0.1);

        &:before {
            border: 2px solid $ns-light-blue;
        }

        .selector__title {
            color: $ns-blue;
        }
    }
}

.selector__item--inactive {
    .selector__price {
        display: none;
    }

    .selector__title,
    .selector__description {
        color: $ns-grey-5;
    }
}

.no-touch {
    .selector__item {
        &:hover:not(.is-selected) {
            &:before {
                border: 1px solid $ns-grey-5;
            }
            .selector__title {
                color: $ns-blue;
            }
        }
    }
}

.selector__header {
    display: grid;
    align-items: center;

    @include sm {
        grid-template-columns: 1fr max-content;
    }
}

.selector__title {
    margin: 0 0 4px;
    @include font(18px, bold, $lh-copy);
    color: $ns-light-blue;
    transition: $fade-all;
}

.selector__description {
    margin: 0;
    @include font(14px, normal, 1.5);
    color: $ns-grey-4;
}

.selector__price {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
    align-items: baseline;

    @include sm {
        grid-template-columns: 1fr;
        text-align: right;
    }
}

.selector__new-price {
    @include font(14px, normal, 1.5);
    color: $ns-blue;

    @include sm {
        font-size: toRem(18px);
    }
}

.selector__old-price {
    @include font(14px, normal, 1.5);
    color: $ns-grey-4;
    text-decoration: line-through;
}

.selector__content {
    display: none;
}

.selector__divider {
    border-bottom: 1px solid $ns-grey-7;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.selector__edit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2px;
    left: -4px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}





// order
// --------------------------------------------
.tk-order {
    overflow: hidden;
    margin-bottom: $half-gutter;
    padding: 20px;
    border: 1px solid $ns-grey-7;

    .overlay__close {
        position: static;
    }
}

.tk-order--grey {
    background-color: $ns-grey-8;

    ul {
        color: $ns-grey;
    }
}

.tk-order__grid {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-gap: $half-gutter;
    align-items: center;
    margin-bottom: 7px;
}

.tk-order__grid--add-on {
    grid-template-columns: 48px 1fr max-content;
}

.tk-order__trash {
    position: relative;
    right: 5px;
}

.tk-order__title {
    @include font(20px, bold, 1.25);
    margin-bottom: 7px;

    @include sm {
        font-size: toRem(24px);
    }
}




// banks
// --------------------------------------------
.banks {
    display: grid;

    @include sm {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $half-gutter;
    }

    @include md {
        grid-template-columns: repeat(3, 1fr);
    }
}

.banks__item {
    //layout
    overflow: hidden;
    display: grid;
    grid-template-columns: 36px 1fr max-content;
    grid-gap: 10px;
    margin-bottom: -1px;
    padding: 10px 20px 10px 10px;
    align-items: center;

    // styling
    border: 1px solid $ns-grey-7;
    cursor: pointer;
    transition: $fade-all;

    @include sm {
        margin: 0;
        border-radius: 4px;
    }

    svg {
        fill: $ns-blue;
    }
}

.banks__item--radio {
    grid-template-columns: max-content 1fr 36px;

    &.is-active {
        .banks__radio:before {
            opacity: 1;
        }
    }
}

.banks__title {
    color: $ns-blue;
}

.banks__radio {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid $ns-grey-6b;
    border-radius: 50%;

    &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 4px;
        left: 4px;
        background-color: $ns-light-blue;
        opacity: 0;
        transition: $fade-link;
    }
}

.no-touch {
    .banks__item:hover {
        box-shadow: 0 2px 28px rgba($ns-black, 0.1);
    }
}



// thanks
// --------------------------------------------
.tk-thanks {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 7px;
    margin-bottom: $gutter;
    @include font(16px, normal, 1.5);
    color: $ns-grey;

    blue {
        font-weight: bold;
        color: $ns-blue;
    }

    svg {
        fill: $ns-blue;
        width: 48px;
    }

    @include sm {
        font-size: toRem(18px);
        align-items: center;

        svg {
            width: 72px;
        }
    }
}



// add ons
// --------------------------------------------
.tk-add-on {
    margin-bottom: $one-half-gutter;
    border: 1px solid $ns-grey-7;
    padding: 20px;
    border-radius: 8px;
    transition: $fade-all;
    cursor: pointer;

    svg {
        fill: $ns-blue;
        transition: $fade-all;
    }

    &:hover {
        box-shadow: 0 2px 28px rgba($ns-black, 0.1);
    }

    @include xs {
        margin-bottom: $half-gutter;
    }

    &.is-added {
        cursor: auto;

        &:hover {
            box-shadow: none;
        }
    }
}

.tk-add-on__grid {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: $gutter;
    align-items: center;
}

.tk-add-on__title {
    @include font(20px, bold, 1.25);
    margin-bottom: 4px;
}



// receipt
// --------------------------------------------
.tk-receipt {
    width: 100%;
    max-width: 350px;
    margin-left: auto;

    @include md {
        width: 320px;

        &.is-active {
            position: fixed;
            top: 90px;
        }
    }
}

.tk-receipt__content {
    transition: $fade-all;

    &.is-loading {
        filter: blur(7px);
        opacity: 0.4;
    }
}

.tk-receipt__loader {
    opacity: 0;
    transition: $fade-all;

    &.is-loading {
        opacity: 1;
    }
}

// order for somebody else
// --------------------------------------------
.tk-other {
    padding: $half-gutter 0;
    border-top: 1px solid $ns-grey-7;
    border-bottom: 1px solid $ns-grey-7;
}

.tk-other__switch {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: $half-gutter;
    align-items: center;
}

.tk-other__label {
    transition: $fade-link;
    color: $ns-grey;

    &.is-active {
        color: $ns-blue;
    }
}


// notification
// ------------------------------------------
.tk-notification {
    display: grid;
    grid-column-gap: $half-gutter;
    grid-row-gap: 4px;
    align-items: center;
    margin-bottom: $gutter;
    padding: 20px;
    background-color: $ns-white;
    border-top: 1px solid $ns-grey-7;
    border-bottom: 1px solid $ns-grey-7;
    border-right: 1px solid $ns-grey-7;
    border-left: 4px solid $ns-red-alert;
    @include font(14px, normal, $lh-copy);
    color: $ns-blue;

    @include sm {
        grid-template-columns: max-content 1fr;
        font-size: toRem(16px);
    }

    svg {
        fill: $ns-red-alert;
    }
}


// misc
// --------------------------------------------
.tk-customer {
    display: grid;

    @include xs {
        grid-template-columns: max-content 1fr;
        grid-column-gap: $gutter;
    }
}

.tk-ov-chip {
    letter-spacing: 1px;
    margin-right: 8px;

    @media(min-width: 400px) {
        letter-spacing: 2px;
        margin-right: 10px;
    }
}

.tk-safe-pay {
    display: flex;
    align-items: center;
    font-size: toRem(14px);
    line-height: $lh-copy;

    img {
        width: 26px;
    }

    @include sm-max {
        order: 999;
    }

    @include xs {
        font-size: toRem(16px);
    }
}

.tk-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
    background-color: $ns-grey-8;

    svg {
        width: 33px;
        fill: $ns-blue;
        @extend .a-l;
        @extend .a-rotate;
    }

    &--receipt {
        @include full(absolute);
        min-height: auto;
        background: none;

        svg {
            width: 19px;
        }
    }

    &--full-screen {
        min-height: auto;
        width: 100%;
        height: 100%;
        background-color: rgba($ns-white, 0.6);
    }
}

.full-screen-loader {
    display: none;
    opacity: 0;
    @include full(fixed);
    z-index: 999;
}

.tk-ul-small {
    padding-left: 24px;
    font-size: toRem(14px);
    margin-bottom: 0;
}

.tk-li-small {
    margin-bottom: 0;
    padding-left: 2px;
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 5 5'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%230063d3;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset 1%3C/title%3E%3Crect class='a' width='5' height='5'/%3E%3C/svg%3E");
}