---
layout: funnel
heading: Even checken
cta: Verder naar gegevens
step: 1
dest: gegevens
no-progress: true
---

<div class="mb-6">
    <h2 class="f24 lh-title mb-2">Heb je al een Mijn NS account?</h2>
    <a href="/bestellen/ov-chipkaart-user" class="button button--secondary button--arrowRight">Inloggen</a>
</div>

<form id="customer-data" action="/bestellen/gegevens">
    <h2 class="f24 lh-title mb-2 fw-b">Nieuw bij NS?</h2>
    <div class="tk-ff js-ff-email">
        <label for="email" class="tk-ff__label mb-1">E-mailadres</label>
        <div class="tk-ff__input-container">
            <input class="textInput tk-ff__input" type="email" id="email" required />
            <span class="tk-ff__icon tk-ff__icon--loading">
                {% include /icons/loader--small.svg %}
            </span>
            <span class="tk-ff__icon tk-ff__icon--approved">
                {% include /icons/check-fat--small.svg %}
            </span>
            <span class="tk-ff__icon tk-ff__icon--known">
                {% include /icons/star--small.svg %}
            </span>
        </div>
        <div class="tk-ff__error">
            Vul een geldig e-mailadres in
        </div>
        <div class="tk-ff__message">
            Het lijkt erop dat je niet nieuw bent. Log in om verder te gaan of probeer een ander
            <span class="no-wrap">e-mailadres</span>.
        </div>
    </div>
</form>