---
layout: funnel
heading: Kies je bank
cta: 'false'
step: 3
dest: bedankt
full-screen-loader: true
---

<div class="mb-4 mb-6-sm">
    {% include safe-pay.html pay="true" %}
</div>
<div class="banks">
    {% for banks in site.data.app.banks %}
    <a class="unlink js-bank">
        <div class="banks__item">
            <img src="/assets/img/payment/{{ banks.icon }}.svg" class="w-100" />
            <div class="banks__title js-bank-set">
                {{ banks.title }}
            </div>
            <span class="lh-none">
                {% include /icons/chevron-m--small.svg %}
            </span>
        </div>
    </a>
    {% endfor %}
</div>