---
layout: funnel
heading: Kies je bank
cta: Afronden
step: 3
dest: bedankt
betalen: true
---

<div class="mb-4 mb-6-sm">
    {% include ideal.html %}
</div>
<div class="tk-banks">
    {% for banks in site.data.app.banks %}
    <a href="/bestellen/bedankt" class="btn-link">
        <div class="tk-banks__item">
            <img src="/assets/img/payment/{{ banks.icon }}.svg" class="w-100" />
            <div class="tk-banks__title">
                {{ banks.title }}
            </div>
            <span class="lh-none" include="/assets/img/icons/chevron-M--small.svg"></span>
        </div>
    </a>
    {% endfor %}
</div>