---
layout: funnel
heading: Bestellen
cta: Naar betalen
step: 2
dest: betalen
order: true
date: "24-02-2019"
---

<div class="mb-6">
    <div class="mb-2 f-grey-4 lh-copy f14">
        <div class="f16 fw-b f-blue mb-1">
            <span class="js-customer-data" id="voornaam">Maarten</span>
            <span class="js-customer-data" id="tussenvoegsel">de</span>
            <span class="js-customer-data" id="achternaam">Vries</span>
        </div>
        <div class="tk-customer">
            <div>
                <span class="js-customer-data" id="email">maarten.devries@ns.nl</span><br>
                <span class="js-customer-data" id="geboortedatum">30-11-1982</span>
            </div>
            <div>
                <span class="js-customer-data" id="straatnaam">Westermaatsweg</span>
                <span class="js-customer-data" id="huisnummer">23</span>
                <span class="js-customer-data" id="toevoeging"></span><br>
                
                <span class="js-customer-data" id="postcode">7556BW</span>
                <span class="js-customer-data" id="woonplaats">Hengelo</span>
            </div>
        </div>
    </div>
    <a onclick="window.history.go(-1)" class="tk-link-reset dib">
        <div class="tk-link-icon">
            <span class="svg-link" include="/assets/img/icons/edit-S--small.svg"></span>
            Wijzigen
        </div>
    </a>
</div>

{% include other.html %}
{% include ov-chip-select.html %}