---
cta: Afronden
dest: 4
---

<div class="container ovr-container">
    {% include progress.html step="3" %}
</div>

<div class="container container--section container--article ovr-container a a-fi-right-small a-del-200 a-dur-500">
    <div class="grid">
        <div class="grid__unit s-4-4 m-12-12 l-10-12 l-push-left-1-12">
            <h1 class="headingXL fw-b mb-2 mb-4-sm">3. Betalen</h1>
            <form class="mb-4">
                
            </form>
            <div class="mb-20-sm"></div>
            {% include cta.html %}
        </div>
    </div>
</div>