---
layout: default
---

{% unless page.no-progress %} {% include progress.html %} {% endunless %}

<section>
    <div class="container ovr-container">
        <div class="tk-funnel-container 
                    {% if page.order %} tk-funnel-container--2-columns {% endif %} 
                    pa-2r a a-fi-right-small">

            {% if page.order %}
            <div class="hidden-xs hidden-sm">
                {% include receipt.html option='true' class='js-receipt' %}
            </div>
            {% endif %}

            <div>
                <div class="tk-heading tk-heading--funnel">
                    <h1 class="tk-heading__title">{{ page.heading }}</h1>
                    <!-- {% if page.heading=='Je gegevens' %}
                    <p class="f-grey-4 f14 lh-copy pt-2 mxw-450">
                        Bestel je voor je kind? Vul je eigen gegevens in en 
                        bij de volgende stap de gegevens van je kind.
                    </p>
                    {% endif %} -->
                </div>
                {{ content }}

                {% if page.order %}
                <div class="hidden-xs hidden-sm">
                    <h2 class="tk-heading__subtitle">Nog even akkoord gaan</h2>
                    {% include /form/legal.html %}
                </div>
                <div class="hidden-lg hidden-md mb-4">
                    {% include receipt.html option='true' %}
                    <div class="mb-8"></div>
                    <h2 class="tk-heading__subtitle">Nog even akkoord gaan</h2>
                    {% include /form/legal.html %}
                </div>
                {% endif %}

                <!-- call to action button -->
                {% unless page.cta == 'false' %}
                <div class="bo-t mb-2 mt-6-sm"></div>
                <div class="txt-r" id="js-sticky-trig">
                    {% include cta.html %}
                </div>
                {% endunless %}
            </div>
        </div>
    </div>
</section>

<!-- date picker bottom sheet -->
<div class="tk-overlay js-dp-bs">
    <div class="tk-overlay__bg"></div>
    <div class="tk-datepicker-bs">
        <div class="tk-datepicker-bs__close
                    js-dp-bs-close svg-white
                    a a-fi a-dur-300 a-del-200">
                {% include /icons/close-m--small.svg %}
            </div>
        {% include datepicker.html %}
    </div>
</div>