---
layout: default
---

<section>
    <div class="container ovr-container">
        <div class="tk-funnel-container tk-funnel-container--1col pa-2r">
            <div class="tk-heading tk-heading--funnel">
                <h1 class="tk-heading__title">{{ page.heading }}</h1>
            </div>
            {{ content }}

            <!-- call to action button -->
            <div class="bo-t mb-2"></div>
            <div class="txt-r" id="js-sticky-trig">
                {% include cta.html %}
            </div>
        </div>
    </div>
</section>

<section class="bg-grey-8 bo-t">
    <div class="container ovr-container mv-0">
        <div class="pa-2r">
            {% include comfort.html %}
        </div>
    </div>
</section>
